@charset "UTF-8";

//@import url('https://fonts.googleapis.com/css?family=Fira+Mono|Lato|Open+Sans|Raleway|Roboto|Roboto+Mono|Source+Code+Pro|Ubuntu+Mono');

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700');

@import "variables.scss";
@import "~bulma/bulma.sass";
//@import "~bulma/sass/layout/section.sass";
//@import "~bulma/sass/base/_all.sass";
/*
.transition-page-leave-active, .transition-page-enter-active {
  transition: all 0.25s ease-out;
}

.transition-page-enter, .transition-page-leave-to{
  opacity: 0;
}
*/

.component{
  min-height: 100%;
}

.transition-page-enter-active {
  transition: all 0.33s ease-in;
}

.transition-page-leave-active {
  transition: all 0.33s ease-out;
}

.transition-page-enter{
  opacity: 0;
}

.transition-page-leave-to{
  opacity: 0;
}